<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Gallery</title>
	<style type="text/css" media="screen">
	.container {
			margin: 0 3%;
			
		}
	article {
		width: 200px;
		float: left;
		margin: 10px;
		padding: 10px;
		background-color: #f3f3f3;
		
	}	
		
	footer {
		clear: both;
	}	
	</style>
	
	
</head>
<body>
	<div class="container">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique metus neque, vel vulputate eros tristique ac. Nam dui lectus, ultricies sed pellentesque ut, varius vel nunc. Morbi vel porttitor est, ut cursus nulla. Donec laoreet turpis eu risus mattis, ut tincidunt erat faucibus. Pellentesque sed ipsum nibh. In est nunc, pellentesque eget vestibulum sed, tristique pellentesque nisi. </p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique metus neque, vel vulputate eros tristique ac. Nam dui lectus, ultricies sed pellentesque ut, varius vel nunc. Morbi vel porttitor est, ut cursus nulla. Donec laoreet turpis eu risus mattis, ut tincidunt erat faucibus. Pellentesque sed ipsum nibh. In est nunc, pellentesque eget vestibulum sed, tristique pellentesque nisi. </p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique metus neque, vel vulputate eros tristique ac. Nam dui lectus, ultricies sed pellentesque ut, varius vel nunc. Morbi vel porttitor est, ut cursus nulla. Donec laoreet turpis eu risus mattis, ut tincidunt erat faucibus. Pellentesque sed ipsum nibh. In est nunc, pellentesque eget vestibulum sed, tristique pellentesque nisi. </p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique metus neque, vel vulputate eros tristique ac. Nam dui lectus, ultricies sed pellentesque ut, varius vel nunc. Morbi vel porttitor est, ut cursus nulla. Donec laoreet turpis eu risus mattis, ut tincidunt erat faucibus. Pellentesque sed ipsum nibh. In est nunc, pellentesque eget vestibulum sed, tristique pellentesque nisi. </p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique metus neque, vel vulputate eros tristique ac. Nam dui lectus, ultricies sed pellentesque ut, varius vel nunc. Morbi vel porttitor est, ut cursus nulla. Donec laoreet turpis eu risus mattis, ut tincidunt erat faucibus. Pellentesque sed ipsum nibh. In est nunc, pellentesque eget vestibulum sed, tristique pellentesque nisi. </p>
			</article>
			<article>
				<h2>Title</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique metus neque, vel vulputate eros tristique ac. Nam dui lectus, ultricies sed pellentesque ut, varius vel nunc. Morbi vel porttitor est, ut cursus nulla. Donec laoreet turpis eu risus mattis, ut tincidunt erat faucibus. Pellentesque sed ipsum nibh. In est nunc, pellentesque eget vestibulum sed, tristique pellentesque nisi. </p>
			</article>
		</section>
		
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>	
</body>
</html>