<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Single</title>
	<style type="text/css" media="screen">
	.container {
			margin: 0 auto;
			width: 600px;
		}
		
		footer, header {
			background: #ccc;
		}
	</style>
	
	
</head>
<body>
	<div class="container">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique metus neque, vel vulputate eros tristique ac. Nam dui lectus, ultricies sed pellentesque ut, varius vel nunc. Morbi vel porttitor est, ut cursus nulla. Donec laoreet turpis eu risus mattis, ut tincidunt erat faucibus. Pellentesque sed ipsum nibh. In est nunc, pellentesque eget vestibulum sed, tristique pellentesque nisi. Nulla eleifend accumsan pulvinar. Maecenas sit amet ultrices dolor. Cras ut dui massa. Quisque interdum, augue eu iaculis tempor, metus dui mattis turpis, nec dignissim est ante at libero. In laoreet nunc odio, eu sagittis urna hendrerit nec. Aenean velit risus, lacinia id felis vitae, dictum mattis sapien. Quisque lacus diam, molestie et eros sed, varius vehicula lectus.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique metus neque, vel vulputate eros tristique ac. Nam dui lectus, ultricies sed pellentesque ut, varius vel nunc. Morbi vel porttitor est, ut cursus nulla. Donec laoreet turpis eu risus mattis, ut tincidunt erat faucibus. Pellentesque sed ipsum nibh. In est nunc, pellentesque eget vestibulum sed, tristique pellentesque nisi. Nulla eleifend accumsan pulvinar. Maecenas sit amet ultrices dolor. Cras ut dui massa. Quisque interdum, augue eu iaculis tempor, metus dui mattis turpis, nec dignissim est ante at libero. In laoreet nunc odio, eu sagittis urna hendrerit nec. Aenean velit risus, lacinia id felis vitae, dictum mattis sapien. Quisque lacus diam, molestie et eros sed, varius vehicula lectus.</p>	
		</section>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>	
</body>
</html>